<div class="[ container-fluid ]">
    <div class="[ row ]">
        <div class="[ col-sm-2 ][ p-l-0 ]">
            <app-menu></app-menu>
        </div>
        <div class="[ col-sm-10 ]">
            <div class="[ row ]">
                <div class="[ col-sm-12 ]">
                    <h2>Welcome to Primedia Dashboard</h2>
                </div>
            </div>
            <div class="[ row ]">
                <div class="[ col-sm-12 ]">
                    <app-live-users></app-live-users>
                </div>
            </div>
            <div class="[ row ]">
                <div class="[ col-sm-12 ]">
                    <app-pie-chart></app-pie-chart>
                </div>
            </div>
        </div>
    </div>
</div>