<!--<div class="[ row ] [ menu ] ">-->
    <!--<div class="[ col-sm-12 ]">-->
      <!--<ul>-->
        <!--<li><img src="http://pulse.primedia.co.za/pulsev3/pulsev3/images/logos/icon-pulse-50x50.png" /> </li>-->
        <!--<li *ngFor="let link of menu_links">-->
          <!--<a href="{{ link.url }}">-->
            <!--{{ link.name }}-->
          <!--</a>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
<!--</div>-->


<div class="nav-side-menu">
    <div class="brand"><img src="http://pulse.primedia.co.za/pulsev3/pulsev3/images/logos/icon-pulse-50x50.png" /></div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list">

        <ul id="menu-content" class="menu-content collapse out">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard fa-lg"></i> Dashboard
                </a>
            </li>
        </ul>
    </div>
</div>