<div class="[ row ]">
    <div class="[ col-sm-12 ]">
        <h3>Total users on all sites</h3>
        <h4>{{ total_users }}</h4>
    </div>
</div>


<div class="[ row ]">
    <div class="[ col-sm-12 ]">
      <h3>Current users on each site</h3>
    </div>
</div>

<div class="[ row ]">
    <div class="[ col-sm-2 ]" *ngFor="let site of sites_names; let k = index">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">
            {{ site }}
          </h4>
          <p class="card-text">
           current users: {{ sites_users[k] }}
          </p>
        </div>
      </div>
    </div>
</div>